@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#map {
	height: 60%;
	margin: 3% 5%;
}
#search-button {
	border-radius: 0px;
}
#place-name.title {
	font-weight: bold;
}
#info{
	margin: auto;
	font-family: 'Fredoka One', cursive;
}
#separator {
	width: 70%;
    height: 8px;
    background-image: linear-gradient(90deg, #95dbb8, #94bdff);
    border: 0;
}
img {
	width: 50px;
	height: 50px;
}
nav {
	background-image: linear-gradient(90deg, #95dbb8, #94bdff);
}
#brand {
	width: 30px;
	height: 30px;
}
#about {
	width: 60%;
	/*height: 40%;*/
	margin: 5% auto;
	padding: 20px;
	background-image: linear-gradient(90deg, #95dbb8, #94bdff);
}
#about-text {
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: white;
}
#logo-title {
	font-family: 'Modak', cursive;
	font-size: 20px;
	color: #F54B4B;
	text-shadow: -2px 2px rgba(0,0,0,0.5);
	-webkit-text-stroke: 1px black;
}
