
<ion-header>
    <ion-toolbar>
        <ion-title id="title">
            EMOJI PLACE
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar color="primary" id="searchbox">
        <ion-searchbar [(ngModel)]="autocomplete" (ionChange)="updateSearchResults()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>

    <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>

        

    <div id="mapcontainer">
        <ion-fab vertical="center" horizontal="end" (click)="centerButton()"><ion-fab-button size="small" color="light"><ion-icon name="locate"></ion-icon></ion-fab-button></ion-fab>
    </div>
    <div #map id="map"> </div>
 
	<ion-list id="iconButtons">

		<img class="icon-button" id="smiley" (click)="smileyButton()" src="https://twemoji.maxcdn.com/2/svg/1f603.svg"/>

		<img class="icon-button" id="neutral" (click)="neutralButton()" src="https://twemoji.maxcdn.com/2/svg/1f610.svg"/>

		<img class="icon-button" id="disappointed" (click)="disappointedButton()" src="https://twemoji.maxcdn.com/2/svg/1f61e.svg"/>

		<img class="icon-button" id="heart" (click)="heartButton()" src="https://twemoji.maxcdn.com/2/svg/2764.svg"/>

		<ion-button id="moreButton"  (click)="moreButton()" color="primary">&#8226;&#8226;&#8226;</ion-button>

	</ion-list>

    <ion-button id="addButton" size="large" (click)="addEmoji()" routerLink="../home" routerDirection="forward">Add Emoji</ion-button>

</ion-content>