
<ion-header>
    <ion-toolbar>
        <ion-title id="title">
            EMOJI PLACE
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar color="primary" id="searchbox">
        <ion-searchbar [(ngModel)]="autocomplete" (ionChange)="updateSearchResults()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>

    <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>

    <div #map id="map"></div>
 
	<ion-list id="iconButtons">

		<ion-img class="icon-button" id="smile" (click)="smileButton()" src="https://twemoji.maxcdn.com/2/svg/1f603.svg"></ion-img>

		<ion-img class="icon-button" id="neutral" (click)="neutralButton()" src="https://twemoji.maxcdn.com/2/svg/1f610.svg"></ion-img>

		<ion-img class="icon-button" id="disappointed" (click)="disappointedButton()" src="https://twemoji.maxcdn.com/2/svg/1f61e.svg"></ion-img>

		<ion-img class="icon-button" id="heart" (click)="heartButton()" src="https://twemoji.maxcdn.com/2/svg/2764.svg"></ion-img>

		<ion-button id="moreButton" routerLink="../more" routerDirection="forward" (click)="moreButton()" color="primary">&#8226;&#8226;&#8226;</ion-button>

	</ion-list>

    <ion-button id="addButton" size="large" (click)="addEmoji()" routerLink="../home" routerDirection="forward">Add Emoji</ion-button>

     <!--<ion-list>

        <ion-list-header>
            Locations:
        </ion-list-header>
        <ion-item *ngFor="let location of locationsList$ | async"
                  (click)="assignLocation(location)"
                  [routerLink]="['/list', locationTitle]" routerDirection="forward">
            {{location.title}}
        </ion-item>
    </ion-list> -->
</ion-content>