@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#map {
	height: 100%;
}
.image-sizing{
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	height: 30%;
}
