<ion-header>
  <ion-toolbar>
    <ion-title>
      Emoji Place
    </ion-title>
    <ion-buttons button slot="start">
        <ion-back-button defaultHref="/pages/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
    <ion-list>
        <ion-list-header>
            Locations:
        </ion-list-header>
        <ion-item *ngFor="let location of locationsList$ | async"
                  (click)="assignLocation(location)"
                  [routerLink]="['/list', locationTitle]" routerDirection="forward">
            {{location.title}}
        </ion-item>
    </ion-list>
</ion-content>
