#title {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

//This controls the location of the "center to your location" fab button
#mapcontainer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 60%;
    padding-bottom: 110px;
    padding-right: 2px;
}

#map {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbox {
    margin: 0;
}

#iconButtons {
	width: 100%;
	margin: 0;
	padding: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#moreButton {
	font-size: 8vw;
	text-align: center;
    width: 15vw;
    height: 15vw;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 17%;
    --padding-end: 17%;

}

#addButton {
	display: flex;
	width: 90%;
	margin: auto;
	justify-content: center;
	align-items: center;

}

.scroll-content {
    overflow: hidden;
}

.icon-button {
	width: 17%; 
	height: 17%; 
}

#transparent {
	opacity: 0.5;
}