<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="" (click)="selectEmoji()" routerDirection="forward"></ion-back-button>
	</ion-buttons>
    <ion-title slot="end">MORE EMOJI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="iconRow">

		<img class="icon-button" id="smiley" (click)="smileyButton()" src="https://twemoji.maxcdn.com/2/svg/1f603.svg"/>

		<img class="icon-button" id="raisedeyebrow" (click)="raisedeyebrowButton()" src="https://twemoji.maxcdn.com/2/svg/1f928.svg"/>

		<img class="icon-button" id="disappointed" (click)="disappointedButton()" src="https://twemoji.maxcdn.com/2/svg/1f61e.svg"/>

		<img class="icon-button" id="rage" (click)="rageButton()" src="https://twemoji.maxcdn.com/2/svg/1f621.svg"/>

		<img class="icon-button" id="star" (click)="starButton()" src="https://twemoji.maxcdn.com/2/svg/2b50.svg"/>

	</ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="poop" (click)="poopButton()" src="https://twemoji.maxcdn.com/2/svg/1f4a9.svg" />

        <img class="icon-button" id="grin" (click)="grinButton()" src="https://twemoji.maxcdn.com/2/svg/1f601.svg" />

        <img class="icon-button" id="laughingwhilecrying" (click)="laughingwhilecryingButton()" src="https://twemoji.maxcdn.com/2/svg/1f602.svg" />

        <img class="icon-button" id="sunglasses" (click)="sunglassesButton()" src="https://twemoji.maxcdn.com/2/svg/1f60e.svg" />

        <img class="icon-button" id="meh" (click)="mehButton()" src="https://twemoji.maxcdn.com/2/svg/1f615.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="winktongue" (click)="winktongueButton()" src="https://twemoji.maxcdn.com/2/svg/1f61c.svg" />

        <img class="icon-button" id="angry" (click)="angryButton()" src="https://twemoji.maxcdn.com/2/svg/1f620.svg" />

        <img class="icon-button" id="tear" (click)="tearButton()" src="https://twemoji.maxcdn.com/2/svg/1f622.svg" />

        <img class="icon-button" id="sad" (click)="sadButton()" src="https://twemoji.maxcdn.com/2/svg/1f626.svg" />

        <img class="icon-button" id="surprised" (click)="surprisedButton()" src="https://twemoji.maxcdn.com/2/svg/1f62e.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="grimace" (click)="grimaceButton()" src="https://twemoji.maxcdn.com/2/svg/1f62c.svg" />

        <img class="icon-button" id="crying" (click)="cryingButton()" src="https://twemoji.maxcdn.com/2/svg/1f62d.svg" />

        <img class="icon-button" id="shoppingcart" (click)="shoppingcartButton()" src="https://twemoji.maxcdn.com/2/svg/1f6d2.svg" />

        <img class="icon-button" id="thinking" (click)="thinkingButton()" src="https://twemoji.maxcdn.com/2/svg/1f914.svg" />

        <img class="icon-button" id="no" (click)="noButton()" src="https://twemoji.maxcdn.com/2/svg/1f6ab.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="basketball" (click)="basketballButton()" src="https://twemoji.maxcdn.com/2/svg/1f3c0.svg" />

        <img class="icon-button" id="camera" (click)="cameraButton()" src="https://twemoji.maxcdn.com/2/svg/1f3a5.svg" />

        <img class="icon-button" id="music" (click)="musicButton()" src="https://twemoji.maxcdn.com/2/svg/1f3b5.svg" />

        <img class="icon-button" id="tree" (click)="treeButton()" src="https://twemoji.maxcdn.com/2/svg/1f332.svg" />

        <img class="icon-button" id="taco" (click)="tacoButton()" src="https://twemoji.maxcdn.com/2/svg/1f32e.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="pizza" (click)="pizzaButton()" src="https://twemoji.maxcdn.com/2/svg/1f355.svg" />

        <img class="icon-button" id="eggplant" (click)="eggplantButton()" src="https://twemoji.maxcdn.com/2/svg/1f346.svg" />

        <img class="icon-button" id="chicken" (click)="chickenButton()" src="https://twemoji.maxcdn.com/2/svg/1f357.svg" />

        <img class="icon-button" id="ramen" (click)="ramenButton()" src="https://twemoji.maxcdn.com/2/svg/1f35c.svg" />

        <img class="icon-button" id="icecream" (click)="icecreamButton()" src="https://twemoji.maxcdn.com/2/svg/1f366.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="cutlery" (click)="cutleryButton()" src="https://twemoji.maxcdn.com/2/svg/1f374.svg" />

        <img class="icon-button" id="egg" (click)="eggButton()" src="https://twemoji.maxcdn.com/2/svg/1f373.svg" />

        <img class="icon-button" id="beer" (click)="beerButton()" src="https://twemoji.maxcdn.com/2/svg/1f37a.svg" />

        <img class="icon-button" id="graduation" (click)="graduationButton()" src="https://twemoji.maxcdn.com/2/svg/1f393.svg" />

        <img class="icon-button" id="controller" (click)="controllerButton()" src="https://twemoji.maxcdn.com/2/svg/1f3ae.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="football" (click)="footballButton()" src="https://twemoji.maxcdn.com/2/svg/1f3c8.svg" />

        <img class="icon-button" id="atm" (click)="atmButton()" src="https://twemoji.maxcdn.com/2/svg/1f3e7.svg" />

        <img class="icon-button" id="tiger" (click)="tigerButton()" src="https://twemoji.maxcdn.com/2/svg/1f42f.svg" />

        <img class="icon-button" id="fish" (click)="fishButton()" src="https://twemoji.maxcdn.com/2/svg/1f41f.svg" />

        <img class="icon-button" id="dog" (click)="dogButton()" src="https://twemoji.maxcdn.com/2/svg/1f415.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="thumbsup" (click)="thumbsupButton()" src="https://twemoji.maxcdn.com/2/svg/1f44d.svg" />

        <img class="icon-button" id="thumbsdown" (click)="thumbsdownButton()" src="https://twemoji.maxcdn.com/2/svg/1f44e.svg" />

        <img class="icon-button" id="highheel" (click)="highheelButton()" src="https://twemoji.maxcdn.com/2/svg/1f460.svg" />

        <img class="icon-button" id="skull" (click)="skullButton()" src="https://twemoji.maxcdn.com/2/svg/1f480.svg" />

        <img class="icon-button" id="barber" (click)="barberButton()" src="https://twemoji.maxcdn.com/2/svg/1f488.svg" />

    </ion-list>

    <ion-list class="iconRow">

        <img class="icon-button" id="burger" (click)="burgerButton()" src="https://twemoji.maxcdn.com/2/svg/1f354.svg" />

    </ion-list>


</ion-content>

	    <ion-footer>
			<ion-toolbar>
				<ion-button id="selectButton" size="large" (click)="selectEmoji()" routerDirection="forward">Select Emoji</ion-button>
			</ion-toolbar>
		</ion-footer>