<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="" (click)="selectEmoji()" routerDirection="forward"></ion-back-button>
	</ion-buttons>
    <ion-title slot="end">MORE EMOJI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="iconRow">

		<img class="icon-button" id="smiley" (click)="smileyButton()" src="https://twemoji.maxcdn.com/2/svg/1f603.svg"/>

		<img class="icon-button" id="neutral" (click)="neutralButton()" src="https://twemoji.maxcdn.com/2/svg/1f610.svg"/>

		<img class="icon-button" id="disappointed" (click)="disappointedButton()" src="https://twemoji.maxcdn.com/2/svg/1f61e.svg"/>

		<img class="icon-button" id="rage" (click)="rageButton()" src="https://twemoji.maxcdn.com/2/svg/1f621.svg"/>

		<img class="icon-button" id="heart" (click)="heartButton()" src="https://twemoji.maxcdn.com/2/svg/2764.svg"/>

	</ion-list>


</ion-content>

	    <ion-footer>
			<ion-toolbar>
				<ion-button id="selectButton" size="large" (click)="selectEmoji()" routerDirection="forward">Select Emoji</ion-button>
			</ion-toolbar>
		</ion-footer>